name: Release

on:
  push:
    branches:
      - never

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    if: false
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.16.0'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install && pnpm install "@semantic-release/changelog" && pnpm install "@semantic-release/git"

      - name: Build
        run: pnpm build

      # - name: Run tests
      #   run: pnpm test || echo "No tests configured"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: pnpm release
